@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&family=ZCOOL+KuaiLe&display=swap");


html {
  background: black;
}
html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Press Start 2P", sans-serif;
  max-width: 1500px;
  color: rgb(211, 77, 5);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  padding: 2rem 1rem;
}
